<nav class="w-full text-center py-4 bg-purple-200">
  <a href="/" class="menu-button"> Home</a>
  <a href="/astro-blog/about/" class="menu-button">About</a>
  <a href="/astro-blog/blog/" class="menu-button">Blog</a>
  <!-- text-lg text-white font-bold px-4 py-2 bg-purple-500 hover:bg-purple-900 rounded-lg  -->
</nav>
